<button mat-flat-button color="primary" (click)="toggleConfigSection()">{{buttonText}}</button>
<section>
  <article *ngIf="showConfig">
    <div *ngFor="let item of HMConf" class="conf-item">
      <div *ngIf="getOnlyImportantConf(item)"><span>{{item[0]}}: </span>{{item[1]}}</div>
    </div>

  </article>
</section>

