<section>
  <div class="form-group">
    <!-- <label for="devices">choose device</label> -->
    <mat-select id="devices" class="form-control" [(ngModel)]="deviceId" placeholder="choose device" (selectionChange)="setDevice()">
      <ng-container *ngFor="let device of HMDevices">
        <mat-option *ngIf="device.roomID == roomId && ifProperDeviceType(device)" [value]="device.id">
          {{device.name}}
        </mat-option>
      </ng-container>
    </mat-select>
  </div>
</section>

<button mat-flat-button color="primary" (click)="turnToggle('turnOn')">turn on</button>
<button mat-flat-button color="primary" (click)="turnToggle('turnOff')">turn off</button>

<mat-form-field >
  <input [disabled]="suitableDevice" matInput type="number" placeholder="Value" [(ngModel)]="deviceValue" min="0" max="100">
</mat-form-field>
 
<button mat-flat-button color="primary" (click)="setDeviceValue()">set value</button>
