<button mat-flat-button color="primary" (click)="getSectionAndRooms()">get sections and rooms</button>
<section>
  <mat-card *ngFor="let sect of HMSections">
    <mat-card-title>Section name: {{sect.name}}</mat-card-title>
    <div *ngFor="let room of HMRooms">

      <mat-card *ngIf="room.sectionID == sect.id" class="room">
        <h5>{{room.name}}</h5>
        <app-home-center-devices [roomId]="room.id"></app-home-center-devices>
      </mat-card>
    </div>
  </mat-card>
</section>