article{
    /* flex: 1; */
    background: rgba(182, 221, 194, 1);
    display: flex;
    border: 1px solid #000;
}

article> div {
    vertical-align: top;
}

button {
    margin-top: 15px;
}

.room {
    
    width: 220px;
    height: 220px;
    margin: 15px 0px 15px 15px;
    border: 1px solid #000;
}

.mat-card {
    margin-top: 10px;
}

.mat-card > div {
    display: inline-block;
}